<div class="container">
  <div class="profile">
    <% if @user %>
    <div class="link"><a href="/profile/<%= @user.id%>">Profile</a></div>
    <div class="link"><a href="/logout">Logout</a></div>
    <% else %>  
    <div class="link"><a href="/login">Login</a></div>
    <div class="link"><a href="/signup">Sign up</a></div>
    <% end %>
  </div>
  <div class="create">
    <form name="input" action="/post" method="post">
      <input type="text" name="title" required placeholder="Title">
      <input type="test" name="url"  placeholder="Url">
      <textarea name="post"  placeholder="Type content here."></textarea>
      <input type="submit" value="Post">
    </form>
  </div>
</div>

