<div class="container">
  <h1>Hacker Clone!</h1>
  
  <ul>
  <%@posts.each do |post|%>
    <li><a href="/post/<%=post.id%>"><%=post.title%></a></li>
  <% end %>
  </ul>
</div>

<div class="link"><a href="/login">Login</a></div>
