<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <title>DevBoot News</title>
</head>
<body>
  <header>
    <a href="/"><img src="../images/dbn.png"></a>
  </header>
  <%= yield %>
</body>
</html>
