<div class="container">
  <form name="input" action="/signup" method="post">
    <input type="text" name="username" required placeholder="Username">
    <input type="password" name="password" required placeholder="Password">
    <input type="text" name="text" required placeholder="Email">
    <input type="submit" value="Sign up!">
  </form>
</div>

<div class="link"><a href="/">Home</a></div>